@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(variable.css);

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background: var(--Black-08, #141414);
  margin: 0;
  padding: 0;

}


/* Fonts */

h2 {
  color: var(--Absolute-White, #FFF);
  font-family: var(--primary-font);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: var(--Absolute-White, #FFF);
  font-family: var(--primary-font);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


h4 {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h5 {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h6 {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.p-large {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.p-medium {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.p-small {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.text-gray {
  color: var(--Grey-75, #BFBFBF);
}

/* Button */

.primary-btn {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  background: var(--Red-45, #E50914);
  color: var(--Absolute-White, #FFF);
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.secondary-btn {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
  color: var(--Absolute-White, #FFF);
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Global Styling */

.home {
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  margin: 32px 0px;
}


/* Nav */

.navbar {
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.nav-menu {
  display: flex;
  padding: 8px 8px 8px 8px;
  align-items: center;
  border-radius: 999px;
  border: 3px solid var(--Black-12, #1F1F1F);
  background: var(--Black-06, #0F0F0F);
}

.nav-item-active {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  border-radius: 999px;
  border: 1px solid var(--Black-10, #1A1A1A);
  background: var(--Black-10, #1A1A1A);
}

.nav-item {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  border-radius: 999px;
  color: var(--Black-15);
}



/* Hero section */

/* Movies */

/* Features */

/* Pricing */

/* Faq */

/* CTA */

/* Footer */


.footer {
  display: flex;
  margin: 56px 32px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 80px;
  max-width: 1200px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.footer-links a {
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid var(--Black-15, #262626);
}

.footer-links-bottom {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.footer-links-bottom a {
  text-decoration: none;
}


/* FAQ Section Styling */

.faq-container {
  padding: 24px 8px;
  max-width: 5xl;
  margin: 0 auto;
  display: flex;

  gap: 12px;
  background-color: rgb(171, 171, 188);
}

.faq-header {
  text-align: left;
  flex-basis: 50%;
}

.faq-title {
  font-size: 2rem;
  font-weight: 800;
}

.faq-list {
  flex-basis: 50%;
}

.faq-question {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-top: 1px solid #ddd;
  cursor: pointer;
  background: none;
  border: none;
}

.faq-question:focus {
  outline: none;
}

.faq-question-text {
  flex: 1;
}

.faq-icon {
  width: 16px;
  height: 16px;
  margin-left: auto;
  fill: currentColor;
  transition: transform 0.2s;
}

.faq-icon.rotate {
  transform: rotate(90deg);
}

.faq-answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.faq-answer.expanded {
  max-height: 200px;
  /* Adjust this value based on your content */
}

.faq-answer-text {
  padding: 10px 0;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}