/* Navbar Section Styling */
body {
  background-color: #262626;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  padding: 32px 56px;
}
.navElement {
  display: flex;
  padding: 32px 56px;

  align-items: center;
}
.navItem {
  display: flex;
  padding: 8px 30px 8px 8px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-radius: 999px;
  border: 3px solid var(--Black-12, #1f1f1f);
  background-color: var(--Black-06, #0f0f0f);
}
.navItem a {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
.active {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: 1px solid var(--Black-10, #1a1a1a);
  background-color: var(--Black-10, #1a1a1a);
}

.NavButton button {
  color: white;
  font-size: 1.2rem;
  background-color: var(--Red-45, #e50914);
  border: none;
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  border-radius: 999px;
}
/* Hero section section */


/* FAQ Section Styling */
.faq-container {
  padding: 24px 8px;

  max-width: 5xl;
  margin: 0 auto;
  display: flex;

  gap: 12px;
  background-color: rgb(171, 171, 188);
}

.faq-header {
  text-align: left;
  flex-basis: 50%;
}

.faq-title {
  font-size: 2rem;
  font-weight: 800;
}

.faq-list {
  flex-basis: 50%;
}

.faq-question {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-top: 1px solid #ddd;
  cursor: pointer;
  background: none;
  border: none;
}

.faq-question:focus {
  outline: none;
}

.faq-question-text {
  flex: 1;
}

.faq-icon {
  width: 16px;
  height: 16px;
  margin-left: auto;
  fill: currentColor;
  transition: transform 0.2s;
}

.faq-icon.rotate {
  transform: rotate(90deg);
}

.faq-answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.faq-answer.expanded {
  max-height: 200px; /* Adjust this value based on your content */
}

.faq-answer-text {
  padding: 10px 0;
  line-height: 1.5;
}
