@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(variable.css);
body {
  background: var(--Black-08);
}

/*Typography */

h1 {}

h2 {
  color: var(--Absolute-White);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h3 {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h5 {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h6 {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.p-large {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.p-medium {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.p-small {
  color: var(--Absolute-White);
  font-family: var(--primary-font);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/* Button */

.primary-btn {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  background: var(--Red-45, #E50914);
  color: var(--Absolute-White, #FFF);
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.secondary-btn {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
  color: var(--Absolute-White, #FFF);
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Global Styling */

.home {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.container{
  display: flex;
  margin: 32px 0px;
}


/* Nav */

/* Hero section */

/* Movies */

/* Features */

/* Pricing */

/* Faq */

/* CTA */

/* Footer */

/* FAQ Section Styling */

.faq-container {
  padding: 24px 8px;
  max-width: 5xl;
  margin: 0 auto;
  display: flex;

  gap: 12px;
  background-color: rgb(171, 171, 188);
}

.faq-header {
  text-align: left;
  flex-basis: 50%;
}

.faq-title {
  font-size: 2rem;
  font-weight: 800;
}

.faq-list {
  flex-basis: 50%;
}

.faq-question {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-top: 1px solid #ddd;
  cursor: pointer;
  background: none;
  border: none;
}

.faq-question:focus {
  outline: none;
}

.faq-question-text {
  flex: 1;
}

.faq-icon {
  width: 16px;
  height: 16px;
  margin-left: auto;
  fill: currentColor;
  transition: transform 0.2s;
}

.faq-icon.rotate {
  transform: rotate(90deg);
}

.faq-answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.faq-answer.expanded {
  max-height: 200px;
  /* Adjust this value based on your content */
}

.faq-answer-text {
  padding: 10px 0;
  line-height: 1.5;
}